html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/** {
    outline: 2px solid red;
}*/
ul{
  display: flex;
  flex-wrap: wrap;
}
li{
  display: inline-block;
  width: 300px;
  height:450px;

}